body {
	background-color: darkgray;
}

h1 {
	-webkit-margin-after: 0.4em;
}

.wrapper {
	width: 1000px;
	height: 1300px;
}

.content-area {
	background-image: url('../images/sketch-artboard-blank.png');
	margin: 0 auto;
	width: 667px;
	height: 1047px;
	background-color:green;
	z-index:-1000;
}

.location-top {
	padding-top: 50px;
	text-align: center;
	z-index: 10;
	font-family: helvetica;
	font-size: 24px;
	color: #acacac;
	display: block;
}

.rain-comment {
	text-align: center;
	z-index: 10;
	font-family: helvetica;
	font-size: 22px;
	color: #5a5a5a;
	display: block;
}

.render-weather {
	/* background-image: url('../images/rain-temp.png'); */
	margin: 0 auto;
	width: 665px;
	height: 450px;
	overflow-y: hidden;
}

.social {
	background-image: url('../images/share.jpg');
	margin: 0 auto;
	width: 640px;
	height: 285px;
}



